/**
 * Coinsecure Api Documentation
 * To generate an API key, please visit <a href='https://coinsecure.in/api' target='_new' class='homeapi'>https://coinsecure.in/api</a>.<br>Guidelines for use can be accessed at <a href='https://api.coinsecure.in/v1/guidelines'>https://api.coinsecure.in/v1/guidelines</a>.<br>Programming Language Libraries for use can be accessed at <a href='https://api.coinsecure.in/v1/code-libraries'>https://api.coinsecure.in/v1/code-libraries</a>.
 *
 * OpenAPI spec version: beta
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.swagger.client.api

import io.swagger.client.model.FailResult
import io.swagger.client.model.BankSummaryDataResponse
import io.swagger.client.model.DoubleDataResponse
import io.swagger.client.model.KYCDataResponse
import io.swagger.client.model.SuccCoinRefDataResponse
import io.swagger.client.model.SuccRefDataResponse
import io.swagger.client.model.AllRefDataResponse
import io.swagger.client.model.TradeSummaryDataResponse
import io.swagger.client.model.SuccessResult
import io.swagger.client.model.UserSummaryDataResponse
import io.swagger.client.model.WalletSummaryDataResponse
import io.swagger.client.ApiInvoker
import io.swagger.client.ApiException

import com.sun.jersey.multipart.FormDataMultiPart
import com.sun.jersey.multipart.file.FileDataBodyPart

import javax.ws.rs.core.MediaType

import java.io.File
import java.util.Date

import scala.collection.mutable.HashMap

class AccountDataApi(val defBasePath: String = "https://api.coinsecure.in/",
                        defApiInvoker: ApiInvoker = ApiInvoker) {
  var basePath = defBasePath
  var apiInvoker = defApiInvoker

  def addHeader(key: String, value: String) = apiInvoker.defaultHeaders += key -> value 

  /**
   * Exchange Bank Summary
   * Gets a Summary of Exchange Bank Data and Balances.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return BankSummaryDataResponse
   */
  def v1ExchangeBankSummary(authorization: String, accept: Option[String] = None): Option[BankSummaryDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/bank/summary".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1ExchangeBankSummary")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[BankSummaryDataResponse]).asInstanceOf[BankSummaryDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Users Coin Fee Percentage
   * Returns the users coin fee percentage. The response is in percentage.
   * @param authorization API object to be added (optional)
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return DoubleDataResponse
   */
  def v1ExchangeUserCoinFee(authorization: Option[String] = None, accept: Option[String] = None): Option[DoubleDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/coin/fee".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    
    authorization.map(paramVal => headerParams += "Authorization" -> paramVal)
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[DoubleDataResponse]).asInstanceOf[DoubleDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Users Fiat Fee Percentage
   * Returns the users fiat fee percentage. The response is in percentage.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return DoubleDataResponse
   */
  def v1ExchangeUserFiatFee(authorization: String, accept: Option[String] = None): Option[DoubleDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/fiat/fee".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1ExchangeUserFiatFee")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[DoubleDataResponse]).asInstanceOf[DoubleDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Coinsecure.me Netki Lookup
   * Searches for a coinsecure.me Netki Wallet Name and responds with an Address model output.
   * @param netkiName  
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return DoubleDataResponse
   */
  def v1NetkiSearchNetkiName(netkiName: String, accept: Option[String] = None): Option[DoubleDataResponse] = {
    // create path and map variables
    val path = "/v1/netki/search/{netkiName}".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "netkiName" + "\\}",apiInvoker.escape(netkiName))

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (netkiName == null) throw new Exception("Missing required parameter 'netkiName' when calling AccountDataApi->v1NetkiSearchNetkiName")

    
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[DoubleDataResponse]).asInstanceOf[DoubleDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Gets KYC Status Details
   * Gets Users KYC Status Details.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return KYCDataResponse
   */
  def v1UserExchangeKycs(authorization: String, accept: Option[String] = None): Option[KYCDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/kycs".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeKycs")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[KYCDataResponse]).asInstanceOf[KYCDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Users Paid Fiat Referrals
   * Returns the Users Paid Coin Referrals.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return SuccCoinRefDataResponse
   */
  def v1UserExchangeReferralCoinPaid(authorization: String, accept: Option[String] = None): Option[SuccCoinRefDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/referral/coin/paid".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeReferralCoinPaid")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[SuccCoinRefDataResponse]).asInstanceOf[SuccCoinRefDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Gets Users Successful Referral Links
   * Gets Users Successful Referral Links that can be used during signup.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return SuccRefDataResponse
   */
  def v1UserExchangeReferralCoinSuccessful(authorization: String, accept: Option[String] = None): Option[SuccRefDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/referral/coin/successful".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeReferralCoinSuccessful")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[SuccRefDataResponse]).asInstanceOf[SuccRefDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Users Paid Fiat Referrals
   * Returns the Users Paid Fiat Referrals.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return SuccCoinRefDataResponse
   */
  def v1UserExchangeReferralFiatPaid(authorization: String, accept: Option[String] = None): Option[SuccCoinRefDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/referral/fiat/paid".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeReferralFiatPaid")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[SuccCoinRefDataResponse]).asInstanceOf[SuccCoinRefDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Gets Users Referral Links
   * Gets Users Referral Links that can be used during signup.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return AllRefDataResponse
   */
  def v1UserExchangeReferrals(authorization: String, accept: Option[String] = None): Option[AllRefDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/referrals".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeReferrals")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[AllRefDataResponse]).asInstanceOf[AllRefDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Exchange Trade Summary
   * Gets a Summary of Exchange Trade Data.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return TradeSummaryDataResponse
   */
  def v1UserExchangeTradeSummary(authorization: String, accept: Option[String] = None): Option[TradeSummaryDataResponse] = {
    // create path and map variables
    val path = "/v1/user/exchange/trade/summary".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserExchangeTradeSummary")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[TradeSummaryDataResponse]).asInstanceOf[TradeSummaryDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Login Token Email
   * Retrieves details of a Login Token
   * @param token  
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return SuccessResult
   */
  def v1UserLoginTokenToken(token: String, accept: Option[String] = None): Option[SuccessResult] = {
    // create path and map variables
    val path = "/v1/user/login/token/{token}".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "token" + "\\}",apiInvoker.escape(token))

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (token == null) throw new Exception("Missing required parameter 'token' when calling AccountDataApi->v1UserLoginTokenToken")

    
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[SuccessResult]).asInstanceOf[SuccessResult])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Exchange Bank Summary
   * Gets a Summary of Exchange Bank Data and Balances.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return UserSummaryDataResponse
   */
  def v1UserSummary(authorization: String, accept: Option[String] = None): Option[UserSummaryDataResponse] = {
    // create path and map variables
    val path = "/v1/user/summary".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserSummary")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[UserSummaryDataResponse]).asInstanceOf[UserSummaryDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Exchange Bank Summary
   * Gets a Summary of Exchange Bank Data and Balances.
   * @param authorization API object to be added 
   * @param accept JSON, XML or CSV can be returned (Optional) (optional)
   * @return WalletSummaryDataResponse
   */
  def v1UserWalletSummary(authorization: String, accept: Option[String] = None): Option[WalletSummaryDataResponse] = {
    // create path and map variables
    val path = "/v1/user/wallet/summary".replaceAll("\\{format\\}", "json")

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (authorization == null) throw new Exception("Missing required parameter 'authorization' when calling AccountDataApi->v1UserWalletSummary")

    
    headerParams += "Authorization" -> authorization
    accept.map(paramVal => headerParams += "accept" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[WalletSummaryDataResponse]).asInstanceOf[WalletSummaryDataResponse])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

}
