/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.FailInvoice
import io.swagger.client.model.InvoiceIDFull
import io.swagger.client.model.SuccessInvoices
import io.swagger.client.model.SuccessInvoice
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object InvoiceDataApi {

  /**
   * Gets All Cancelled Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getCancInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getCancInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets All Completed Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getCompleteInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getCompleteInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets All Confirmed Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getConfInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getConfInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets Details of an Invoice ID.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoice (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param invoiceID 
   * @param apikey Enter User Key
   */
  def getInvoiceFromID(invoiceID: String, apikey: String): ApiRequest[SuccessInvoice] =
    ApiRequest[SuccessInvoice](ApiMethods.GET, "https://pay.coinsecure.in/", "/invoice/getInvoiceFromID/{invoiceID}", "application/json")
      .withPathParam("invoiceID", invoiceID)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoice](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets All Paid Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getPaidInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getPaidInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets All Refund Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getRefundInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getRefundInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * Gets All Unprocessed Invoice Details.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoices (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to query Invoices
   */
  def getUnprocessedInvoices(apikey: String, body: InvoiceIDFull): ApiRequest[SuccessInvoices] =
    ApiRequest[SuccessInvoices](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/getUnprocessedInvoices", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoices](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
      

}

