/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.SuccessInvoice
import io.swagger.client.model.FailInvoice
import io.swagger.client.model.NewInvoice
import io.swagger.client.model.ActionAnyContent
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object InvoiceActionsApi {

  /**
   * Allows user to create a new Invoice.
   * 
   * Expected answers:
   *   code 200 : SuccessInvoice (Success)
   *   code 400 : FailInvoice (Bad Request)
   *   code 401 : FailInvoice (Unauthorized)
   *   code 500 : FailInvoice (Server Error)
   * 
   * @param apikey Enter User Key
   * @param body Enter details to create an Invoice
   */
  def createNewInvoice(apikey: String, body: NewInvoice): ApiRequest[SuccessInvoice] =
    ApiRequest[SuccessInvoice](ApiMethods.POST, "https://pay.coinsecure.in/", "/invoice/createNewInvoice", "application/json")
      .withBody(body)
      .withHeaderParam("apikey", apikey)
      .withSuccessResponse[SuccessInvoice](200)
      .withErrorResponse[FailInvoice](400)
      .withErrorResponse[FailInvoice](401)
      .withErrorResponse[FailInvoice](500)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : ActionAnyContent (successful operation)
   * 
   * @param invoiceID 
   */
  def loadInvoice(invoiceID: String): ApiRequest[ActionAnyContent] =
    ApiRequest[ActionAnyContent](ApiMethods.GET, "https://pay.coinsecure.in/", "/invoice/{invoiceID}", "application/json")
      .withPathParam("invoiceID", invoiceID)
      .withSuccessResponse[ActionAnyContent](200)
      

}

