/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.FailMerchant
import io.swagger.client.model.SuccessMerchant
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UserDataApi {

  /**
   * Gets a Summary of Merchant Data.
   * 
   * Expected answers:
   *   code 200 : SuccessMerchant (Success)
   *   code 400 : FailMerchant (Bad Request)
   *   code 401 : FailMerchant (Unauthorized)
   *   code 500 : FailMerchant (Server Error)
   * 
   * @param apiKey Enter User Key
   */
  def getMerchant(apiKey: String): ApiRequest[SuccessMerchant] =
    ApiRequest[SuccessMerchant](ApiMethods.GET, "https://pay.coinsecure.in/", "/user/getMerchant", "application/json")
      .withHeaderParam("apiKey", apiKey)
      .withSuccessResponse[SuccessMerchant](200)
      .withErrorResponse[FailMerchant](400)
      .withErrorResponse[FailMerchant](401)
      .withErrorResponse[FailMerchant](500)
      

}

